$primary-color: #4A59CF;
$secondary-color: #010639;

$text-primary: white;
$text-secondary: black;

$button-primary: rgb(255, 153, 0);
$hover-button-primary: rgb(214, 129, 0);

$small-title: 2rem;
$small-padding: 2rem;